.table{
    td, th{
        white-space: normal;
    }
}
.login-box{
    margin-top: -200px;
}
footer{
    .col-xl-6{
        @media (max-width: 1200px) {
            width: 50%;
        }
    }
}

.main-content{
    .navbar-top{
        position: relative;
    }
}
.username{
    span{
       color: #525f7f;
    }
}

.qa{
    &.card{
        .col1{
            margin-right: 30px;
        }
        .btn-primary{
            margin-bottom:20px;
        }
    }
}

.form-control{

}

